@import "tailwindcss";

:root {
    --wf-bg: #c9c9c9;
    --wf-bg1: rgba(167, 164, 164, 0.247);
    --wf-bg2: #eeeeee;
    --wf-border: #c0bebe;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #fff;
    color: #333;
}

.navbar {
    background-color: var(--wf-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    color: white;
}

.nav-btn {
    background: var(--wf-light-gray);
    color: #666;
    text-decoration: none;
    padding: 6px 18px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: bold;
}

/* Reusable Components */
.placeholder-box {
    background-color: var(--wf-light-gray);
    border: 1px solid var(--wf-border);
}

.section-divider {
    border: 0;
    border-top: 1px solid var(--wf-light-gray);
    margin: 40px 0;
}

.card-img img{
    width: 110px;
    height: auto;
    padding-top: 2px;
}

.card-img {
    height: 150px;
    overflow: hidden;
    background: var(--wf-bg2);
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}
